<div class="pomodoro">
  <h1>{{ landing.timePlayer.pomodoro | timecode }}</h1>
  <a class="timer-button" ng-show="!stop" ng-click="landing.timePlayer.work()">{{ landing.timerButton }}</a>
  <a class="timer-button" type="button" ng-show="true" ng-click="landing.timePlayer.stopWork()">Stop</a>
  <a class="timer-button" type="button" ng-show="true" ng-click="landing.timePlayer.resetWork()">Reset</a>
  <a class="timer-button" type="button" ng-show="true" ng-click="landing.timePlayer.breakWork()">Break</a>
</div>